.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #17e09a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #1940ef;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  
  color: rgba(240, 241, 241, 0.9);
  text-shadow: 3px 3px rgba(13, 14, 14, 0.055);
  background-image:
  url(/img/legion-logo-pattern-rgb-b9v0k41m1pu41fyb.jpg);
  height: 100vh;  
}
.navBg {
  background-color: #000006;
}